@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Staatliches&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0 ;
    background-color: rgb(21, 21, 31)
}

li ,a , button {
    font-family: 'Staatliches', cursive;
    font-weight: 500;
    font-size: 20px ;
    color: rgb(179, 255, 0);
    text-decoration: none;
    border-radius: 20px ;
}

header {
    display : flex ;
    justify-content: space-between ;
    align-items : center ;
    padding : 30px 10% ;
}

.navbar {
    list-style : none; 

}
.navbar li {
    display: inline-block;
    padding: 0px 20px ;
}

.navbar li a {
   transition: all 0.3s ease 0s;
}
.navbar li a:hover {
    color: rgb(255, 255, 255) ;
 }
 
button {
    padding: 9px 25px ;
    background-color: rgba(0,136,169,1) ;
    border: none ;
    border-radius: 50px ;
    cursor: pointer;
    transition : all 0.5s ease 0s ;
}

button:hover{
    background-color : rgba(0,136,169,0.8) ;

}

.neon:hover { 
    padding: 10px;
    color : #255784 ;
    background : #4b99ff ;
    box-shadow : 0 0 10px #2196f3,0 0 40px #2196f3 , 0 0 80px #2196f3 ;
    transition-delay: 0.01s;

}

#sidebutton:hover {
    color : #255784 ;
    background : #4b99ff ;
    box-shadow : 0 0 10px #2196f3,0 0 40px #2196f3 , 0 0 80px #2196f3 ;
    transition-delay: 0.02s;


}

.intro1  {
    display: flex ;
    /* flex-wrap: wrap; */
    justify-content: space-evenly ;
    color: rgb(255, 153, 0);
    height: 80% ;
    align-items: center ;
    font-family: 'Nunito', sans-serif;
    
    
}

.intro2 p {
    font-size: 150%;
    
}

.intro2 p:hover{
    font-size: 170%;
    transition : all 0.5s ease-in-out ;
    color: rgb(0, 153, 255);
}

.intro2 h1:hover {
    font-size: 300% ;
    transition : all 0.5s ease-in-out ;
    color: rgb(0, 153, 255);
    font-family: 'Nunito', sans-serif;
}

.intro2 {
    display: flex ;
    height: 50%;
    width: 20%;
    


}
#earth {

    height: 100%;
    width: 60;

}

#earth img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 50%;
    border-radius: 50%;
    box-shadow :  0 0 10px #2196f3 ,0 0 40px #2196f3 , 0 0 80px #2196f3 ;
    transition: all 3s  ease 0s ;
}



.innovators11 h1 {
    display: flex ;
    color: white ;
    justify-content: center ; 
    font-size: 400%;
    font-family: 'IBM Plex Sans', sans-serif;
    background:  linear-gradient( rgb(117, 3, 56) 30% , rgb(255, 30, 0));
    border-radius: 50px;

}